In [1]:
# fix python path if working locally
from utils import fix_pythonpath_if_working_locally
fix_pythonpath_if_working_locally()

In [2]:
import numpy as np
import pandas as pd
from darts import TimeSeries

In [3]:
df = pd.read_csv('AirPassengers.csv', delimiter=",")
series = TimeSeries.from_dataframe(df, 'Month', ['#Passengers','#Passengers','#Passengers'])
series

              0    1    2
Month
1949-01-01  112  112  112
1949-02-01  118  118  118
1949-03-01  132  132  132
1949-04-01  129  129  129
1949-05-01  121  121  121
...         ...  ...  ...
1960-08-01  606  606  606
1960-09-01  508  508  508
1960-10-01  461  461  461
1960-11-01  390  390  390
1960-12-01  432  432  432

[144 rows x 3 columns]
Freq: MS

In [4]:
new_series = series.map(np.sin)
new_series

                   0         1         2
Month
1949-01-01 -0.889996 -0.889996 -0.889996
1949-02-01 -0.981952 -0.981952 -0.981952
1949-03-01  0.053084  0.053084  0.053084
1949-04-01 -0.193473 -0.193473 -0.193473
1949-05-01  0.998815  0.998815  0.998815
...              ...       ...       ...
1960-08-01  0.321565  0.321565  0.321565
1960-09-01 -0.806383 -0.806383 -0.806383
1960-10-01  0.727122  0.727122  0.727122
1960-11-01  0.428210  0.428210  0.428210
1960-12-01 -0.999519 -0.999519 -0.999519

[144 rows x 3 columns]
Freq: MS

In [5]:
new_series = series.map(np.sin, 1)
new_series

              0         1    2
Month
1949-01-01  112 -0.889996  112
1949-02-01  118 -0.981952  118
1949-03-01  132  0.053084  132
1949-04-01  129 -0.193473  129
1949-05-01  121  0.998815  121
...         ...       ...  ...
1960-08-01  606  0.321565  606
1960-09-01  508 -0.806383  508
1960-10-01  461  0.727122  461
1960-11-01  390  0.428210  390
1960-12-01  432 -0.999519  432

[144 rows x 3 columns]
Freq: MS

In [6]:
new_series = series.map(np.sin, [1])
new_series

              0         1    2
Month
1949-01-01  112 -0.889996  112
1949-02-01  118 -0.981952  118
1949-03-01  132  0.053084  132
1949-04-01  129 -0.193473  129
1949-05-01  121  0.998815  121
...         ...       ...  ...
1960-08-01  606  0.321565  606
1960-09-01  508 -0.806383  508
1960-10-01  461  0.727122  461
1960-11-01  390  0.428210  390
1960-12-01  432 -0.999519  432

[144 rows x 3 columns]
Freq: MS

In [7]:
new_series = series.map(np.sin,[0,1])
new_series

                   0         1    2
Month
1949-01-01 -0.889996 -0.889996  112
1949-02-01 -0.981952 -0.981952  118
1949-03-01  0.053084  0.053084  132
1949-04-01 -0.193473 -0.193473  129
1949-05-01  0.998815  0.998815  121
...              ...       ...  ...
1960-08-01  0.321565  0.321565  606
1960-09-01 -0.806383 -0.806383  508
1960-10-01  0.727122  0.727122  461
1960-11-01  0.428210  0.428210  390
1960-12-01 -0.999519 -0.999519  432

[144 rows x 3 columns]
Freq: MS

In [8]:
help(series.map)

Help on method map in module darts.timeseries:

map(fn: Callable[[float], float], cols: Union[List[int], int, NoneType] = None) -> 'TimeSeries' method of darts.timeseries.TimeSeries instance
    Applies the function fn to all values in this TimeSeries, or, to only those
    values in the columns specified by the optional argument cols. Returns a new
    TimeSeries instance.

    Parameters
    ----------
    fn
        A numerical function
    cols
        Optionally, an integer or list of integers specifying the column(s) onto which fn should be applied

    Returns
    -------
    TimeSeries
        A new TimeSeries instance